.checkout{
    display: flex;
    justify-content: space-between;
}

.checkout > aside:first-child {
    width: 21rem;
    height: 48.75rem;
}

.checkout > aside:first-child > div:first-child{
    width: 21rem;
    height: 14.938rem;
    background-color: #00264D;   
}

.checkout > aside:first-child > div:first-child > div{
    width: 15.733rem;
    height: 12.5rem;
    display: flex;
    padding-top: 3.125rem;
    margin-left: 3rem;
    gap: 1rem;
}

.checkout > aside:first-child > div:first-child > div > img{
    width: 7.013rem;
    height: 12.5rem;
    border-radius: 0.188rem;
    object-fit: cover;
}

.checkout > aside:first-child > div:first-child > div > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.checkout > aside:first-child > div:first-child > div > div > p{
    font-weight: 500;
    font-size: 1.225rem;
    font-family: 'Roboto';
    line-height: 1.436rem;
    color: var(--cinza-branco);

}

.checkout > aside:first-child > div:first-child > div > div > div{
    display: flex;
    gap: 1rem;
}

.checkout > aside:first-child > div:first-child > div > div > div > img{
    width: 3.42rem;
    height: 1.531rem;
    border-radius: 0.188rem;
}

.checkout > aside:first-child > div:last-child{
    width: 21rem;
    height: 33.875rem;
    background-color: #DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-between;
}

.checkout > aside:first-child > div:last-child > p{
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Poppins';
    line-height: 1.5rem;
    color: var(--cinza-preto);
}

.checkout > aside:first-child > div:last-child > div{
    background-color: var(--cinza-200);
    width: 16.875rem;
    height: 22rem;
    border-radius: 0.35rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.checkout > aside:first-child > div:last-child > button{
    width: 7.438rem;
    height: 3rem;
    border-radius: 0.5rem;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
    background-color: var(--calltoAction-source);
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Poppins';
    line-height: 1.5rem;
    color: var(--cinza-50);
    cursor: pointer;
    border: none; 
}

.checkout > aside:last-of-type {
    width: 56.25rem;
    height: 43.75rem;
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-bottom:2rem;
}


.checkout > aside:last-of-type > div{
    width: 48.813rem;
    height: 27rem;
    display: flex;
    justify-content: space-between;
}    

.checkout > aside:last-of-type > img:last-of-type{
    width: 48.438rem;
    height: 4.25rem;
}

.checkout > aside:last-of-type > div > div{
    padding-top: 0.1rem;
    width: 33.125rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout > aside:last-of-type > div > img{
    height: 26rem;
}

.checkout > aside:last-of-type > div > div > div{

    justify-content: space-between;
} 
.checkout > aside:last-of-type > div > div > div > button{
    cursor: pointer;
    border: none; 
    background-color: transparent;
    height: fit-content;
    line-height: 0;
    position: relative;
    justify-content: center; 
    align-items: center; 
    color: #DDDDDD;
} 

.form_assentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0 1rem 0;
}

.form_assentos > div{
    width: 13.813rem;
    height: 7.938rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3rem
}

.form_assentos > div > p{
    border-bottom: 0.1rem solid black;
}

.form_assentos > div > textarea{
    border-left: 0.2rem solid blue;
}

/* .checkout > aside:last-of-type > div > div > div > button > img:focus ~ p{
    display: block;
}

.checkout > aside:last-of-type > div > div > div > button > p{
    position: absolute;
    font-size: 0.65rem;
    padding-top: 0.8rem;
    padding-left: 0.35rem;
    display: none;
}

.checkout > aside:last-of-type > div > div > div > button img:focus ~ p{
    display: block;
}

.checkout > aside:last-of-type > div > div > div > button > img{
    position: absolute;
} */

.div_lista{
    display:grid;
    grid-template-columns: repeat(18,1fr);
}