main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem .5rem;
}

.form_contact {
    border-radius: 0.625rem;
    background: var(--background-form);
    width: 28rem;
    height: 45.125rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 1);
}

.form_text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
}

.form_text h1 {
    color: var(--texto-50);
    font-family: var(--titulo-font);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: var(--titulo-peso);
    line-height: normal;
    letter-spacing: 0.12rem;
}

.form_text h3 {
    color: var(--texto-50);
    font-family: var(--subtitulo-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--subtitulo-peso);
    line-height: normal;
    letter-spacing: 0.06rem;
}

.form_input {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form_input input {
    width: 24.375rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 0.6875rem;
    background: var(--principal-100);
    color: rgba(0, 0, 0, 0.50);
    font-family: var(--textocolorido-font);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: var(--textocolorido-peso);
    line-height: normal;
    letter-spacing: 0.0625rem;
    padding: 1rem;
    border: none;
}

.form_input textarea {
    width: 24.375rem;
    height: 17.6875rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--principal-100);
    color: rgba(0, 0, 0, 0.50);
    font-family: var(--textocolorido-font);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: var(--textocolorido-peso);
    line-height: normal;
    letter-spacing: 0.0625rem;
    padding: 0.5rem;
    resize: none;
}

.form_input button {
    width: 9.125rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #6D98FB;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
    color: var(--cinza-50, #F3F3F3);
    text-align: center;
    font-family: var(--textofuncional-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--textofuncional-peso);
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    border: none;
    transform: translateX(80%);
}