.search {
    background-color: var(--principal-800);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
    padding: 2rem;
}

.search > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: auto;

}

.search_input {
    position: relative;
    display: flex;
    align-items: center;
}


.search_input input {
    width: 60.875rem;
    height: 2.8125rem;
    border-radius: 1.5rem;
    border: none;
    background: var(--cinza-50);
    color: var(--cinza-preto);
    font-family: var(--textocolorido-font);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: var(--textocolorido-peso);
    line-height: normal;
    letter-spacing: 0.0625rem;
    padding: 1rem;
}

.lupa {
    background-color: #00264D;
    border-radius: 2rem;
    padding: 0.4rem;
    position: absolute;
    right: -1rem; /* Posicionar a lupa 1rem do canto direito */
    top: 50%; 
    transform: translateY(-50%); 
    
}

.filter {
    display: flex;
    gap: 3rem;
    /* margin-left: 28rem; */
}

.option_filter select{
    width: 14.375rem;
    padding: .4rem;
    align-items: center;
    border-radius: 0.6875rem;
    border: none;
    background: linear-gradient(90deg, #06C 6%, #00557B  2%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--principal-100);
    font-family: var(--subtitulo-font);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: var(--subtitulo-peso);
    line-height: normal;
    letter-spacing: 0.06rem;
    padding: 0.75rem 3rem 0.75rem 1.5rem;
    transform: translateX(-100%);
    overflow-y: scroll; /* Adiciona uma barra de rolagem vertical */
    max-height: 150px; /* Altura máxima para exibição das opções */
}

.option_filter option {
    width: 18rem;
    height: 12.5rem;
    flex-shrink: 0;
    background: #D9D9D9;
    color: var(--cinza-preto);
    font-family: var(--textocolorido-font);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: var(--textocolorido-peso);
    line-height: normal;
    letter-spacing: 0.06rem;
}

.main_title {
    color: var(--texto-50);
    font-family: var(--titulo-font);
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--titulo-peso);
    line-height: normal;
    letter-spacing: 0.12rem;
    margin: 5.5rem 0 0 5.5rem ;
}

.cards {
    display: flex;
}

.pagination {
    text-align: center;
    margin: 2.5rem 0 4rem 0;
}