.introduction {
    /* width:90rem; */
    background: url('/src/assets/img/fundo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 3rem 3rem 6rem;
}

.introduction > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--cinza-branco);
    width: 70%;
}

.introduction h1 {
    text-shadow: 0px 0px 12px var(--cinza-preto);
    font-family: var(--titulo-font);
    font-size: 3rem;
    font-style: normal;
    font-weight: var(--titulo-peso);
    line-height: normal;
    letter-spacing: 0.12rem;
}

.introduction h3 {
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.50);
    font-family: var(--subtitulo-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--subtitulo-peso);
    line-height: normal;
    letter-spacing: 0.06rem;
}

.main_poster {
    display: flex;
    flex-wrap: wrap; /* Permite que os cartazes quebrem para a próxima linha */
    justify-content: center;
    align-items: center; /* Distribui os cartazes e o botão no espaço disponível */
}

.main_poster > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main_poster section:last-of-type {
    align-self: flex-end;
}

.poster_title {
    color: var(--cinza-branco);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: var(--titulo-font);
    font-size: 2rem;
    font-style: normal;
    font-weight: var(--titulo-peso);
    line-height: normal;
    letter-spacing: 0.12rem;
    align-self: flex-start;
}

.poster_movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    width: 100%;
    padding: 1.5rem;
}


.poster_filme img {
    background-color: green;
    width: 14.375rem;
    height: 21.25rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.poster_filme h5 {
    color: var(--texto-50);
    font-family: var(--subtitulo-font);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: var(--subtitulo-peso);
    line-height: normal;
    letter-spacing: 0.06rem;
    margin: .5rem 0rem;
    text-align: start;
    margin-bottom: 1rem;
    width: 14.375rem;
}

.poster_filme a {

    border-radius: 0.50438rem;
    background: var(--calltoAction-source);
    padding: 0.50438rem 2.4rem 0.50438rem 0.50438rem;
    color: var(--texto-50);
    font-family: var(--textofuncional-font);
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--textofuncional-peso);
    line-height: normal;
    letter-spacing: 0.05769rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}


.button a { 
    color: var(--cinza-branco);
    font-family: var(--subtitulo-font);
    font-size: 1.1rem;
    font-style: normal;
    font-weight: var(--subtitulo-peso);
    line-height: normal;
    letter-spacing: 0.06rem;
    text-decoration-line: underline;
    /* margin-left: 73.4rem; */
}

@media (max-width: 1685px) {
    
}