.banner {
    opacity: 8;
    background: linear-gradient(180deg, #00264D 82%, rgba(0, 38, 77, 0.00) 100%);
    height: fit-content;
}

.banner > div {
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem 0 1rem 2.5rem;
}

.card {
    width: 14.375rem;
    height: 21.25rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: green;
}

.card img {
    width: 100%;
    height: 100%;
}

.banner_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    gap: 1rem;
    width: 60%;
}

.card_title {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.card_title h1{
    color: var(--cinza-branco);
    font-family: var(--titulo-font);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: var(--titulo-peso);
    line-height: normal;
    letter-spacing: 0.075rem;
}

.card_title span {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 0.41669rem;
    background: var(--cor-classificacao);
    color: var(--cinza-branco);
    font-family: var(--textocolorido-font);
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--titulo-peso);
    line-height: normal;
    letter-spacing: 0.0375rem;
    text-align: center;
    padding-top: .7rem;
}

.card_description span {
    color: var(--cinza-200);
    font-family: var(--subtitulo-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--subtitulo-peso);
    line-height: normal;
    letter-spacing: 0.06rem;
}

.card_description p {
    color: var(--cinza-50, #F3F3F3);
    font-family: var(--textocolorido-font);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: var(--textocolorido-peso);
    line-height: normal;
    letter-spacing: 0.0625rem;
    margin-top: .5rem;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 1.2rem;
}

.filter_expansive select {
    width: 16.375rem;
    padding: .4rem;
    align-items: center;
    border-radius: 0.6875rem;
    border: none;
    background: linear-gradient(90deg, #06C 6%, #00557B  2%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--principal-100);
    font-family: var(--subtitulo-font);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: var(--subtitulo-peso);
    line-height: normal;
    letter-spacing: 0.06rem;
    padding: 0.75rem 3rem 0.75rem 1.5rem;
}

.filter_expansive option {
    width: 18rem;
    height: 12.5rem;
    flex-shrink: 0;
    background: #D9D9D9;
    color: var(--cinza-preto);
    font-family: var(--textocolorido-font);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: var(--textocolorido-peso);
    line-height: normal;
    letter-spacing: 0.06rem;
}