.body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0rem;
}
.body > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
}

.body > div > img {
    width: 93%;
}

.body > div > div{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    position: absolute;
}

.body > div > div > button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: fit-content;
}

.body > div > div > button > img {
    height: 85%;
}
