.footer_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #00264D;
    color: var(--cinza-branco);
    font-family: var(--titulo);
    padding: 1rem;
    width: 100%;
}

.footer_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}

.footer_address h5 {
    font-family: var(--subtitulo-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--subtitulo-peso);
    color: var(--cinza-branco);
    line-height: normal;
    letter-spacing: 0.06rem;
    margin-bottom: .6rem;
}

.footer_address p {
    font-family: var(--textocolorido-font);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: var(--textocolorido-peso);
    color: var(--principal-100);
    line-height: normal;
    letter-spacing: 0.06rem;
}

.footer_contact h5 {
    font-family: var(--subtitulo-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--subtitulo-peso);
    color: var(--cinza-branco);
    line-height: normal;
    letter-spacing: 0.06rem;
    margin: .7rem 0rem;
}

.footer_contact a {
    text-decoration: none;
    font-family: var(--textocolorido-font);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: var(--textocolorido-peso);
    color: var(--principal-100);
    line-height: normal;
    letter-spacing: 0.06rem;
    cursor: pointer;
    margin-top: 3rem;
}

.icons {
    display: flex;
    gap: .6rem;
}

.copyright {
    background-color: var(--sombra2-900);
    color: var(--cinza-100);
    font-family: var(--textocolorido-font);
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--textocolorido-peso);
    line-height: normal;
    letter-spacing: 0.05rem;
    text-align: center;
    padding: .7rem;
}
