.header {
    background-color: var(--principal-source);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.8rem;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.header > div{
    width: 11.375rem;
    height: 2.875rem;
    display: flex;
    justify-content: space-between;
}

