/* modal.module.css */
.modal_mensage {
    width: 50rem;
    height: 17.875rem;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background: var(--complementar-2500);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 1rem 0 0rem 2.5rem;
}

.close  {
    text-align: end;
    padding: 0.5rem;
}

.modal_mensage > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal_mensage h1 {
    color: var(--cinza-branco);
    font-family: var(--titulo-font);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: var(--titulo-peso);
    line-height: normal;
    letter-spacing: 0.12rem;
}

.modal_mensage h5{
    color: var(--cinza-50);
    font-family: var(--subtitulo-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--subtitulo-peso);
    line-height: normal;
    letter-spacing: 0.06rem;
}

.modal_mensage p {
    color: var(--cinza-50, #F3F3F3);
    font-family: var(--textocolorido-font);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: var(--textocolorido-peso);
    line-height: normal;
    letter-spacing: 0.0625rem;
}