.overlay{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    width: 50rem;
    height: 17.875rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background: var(--calltoAction-source);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

.modalContainer {
    max-width: 100%;  
    /* --confirm-source: #00cc54; */
    background-color: #00cc54;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center ;
    width: 50rem;
    height: 22.188rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    border-radius: 1rem;
}

.btn{
    text-align: end;
   
}

.modalContainer > button {
    text-align: end;
    background-color: transparent;
    cursor: pointer;
    border: none;   
    display: flex;
    flex-direction: column;
    margin-left: 46rem;
    margin-top: 0.8rem;
}

.modalContainer > div {
    display: flex;
    flex-direction: column;
    width: 43.375rem;
    height: 4.313rem;
    gap: 1rem;
    padding-top: 0.6rem;
    
    
}

.modalContainer > div > p {
    color: var(--cinza-50);
    font-family: var(--subtitulo-font);
}

.modalContainer > div > h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--titulo-font);
    color: var(--cinza-branco);
}

.modalContainer > div > p{
    font-size: 1.5rem;
    font-weight: 500;

}

.modalContainer > div > p:last-child {
    font-size: 1.25rem;
    font-weight: 400;

}
