.overlay{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    width: 50rem;
    height: 17.875rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background: var(--calltoAction-source);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
}

.modalContainer {
    max-width: 100%;  
    background: #CC8000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 50rem;
    height: 22.188rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    border-radius: 1rem;
    gap: 2rem;
}



.modalContainer > div  {
    width: 35.609rem;
    height: 6.625rem;
    display: flex;
    justify-content: space-between;
}

.modalContainer > div  > button{
    width: 16.424rem;
    height: 6.625rem;
    background-color: transparent;
    cursor: pointer;
    border: none;   
}


