/* Estilo sessão principal */
.main {
   margin:auto;
}

/* Estilo para criar o fundo do card */
.main_movie {
    width: 29.0625rem;
    padding: 1rem 1.30425rem 0rem 1.375rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: linear-gradient(182deg, #00264D 69%, #001225 100%);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.50);
    margin-top: 4rem;
}

/* Estilo card do filme */
.card_movie{ 
    width: 26.375rem;
    height: 39rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.card_movie img {
    width: 100%;
}

/* Estilo titulo e classificação */
.movie_title {
    display: flex;
    justify-content: space-between;
    margin: 0.7rem 0;
}

.movie_title h3 {
    color: var(--texto-50);
    font-family: var(--textofuncional-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--textofuncional-peso);
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.movie_title span {
    width: 2.00825rem;
    height: 1.875rem;
    flex-shrink: 0;
    border-radius: 0.25rem;
    background: var(--cor-classificacao);
    color: var(--cinza-branco);
    font-family: var(--textocolorido-font);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: var(--titulo-peso);
    line-height: normal;
    letter-spacing: 0.0375rem;
    text-align: center;
    padding: .5rem 0 0 0;
}

/* Estilos da descrição do filme */
.movie_description {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: var(--texto-50, #F2F4F7);
    font-family: var(--textocolorido-font);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: var(--textocolorido-peso);
    line-height: normal;
    letter-spacing: 0.0625rem;
    gap: .3rem;
}

/* Estilos para a âncora  */

.button_movie {
    text-align: center;
}

.button_movie a{
    display: inline-block;
    width: 12.8125rem;
    padding: 0.50438rem;
    border-radius: 0.50438rem;
    background: var(--calltoAction-source);
    text-decoration: none;
    color: var(--texto-50);
    font-family: var(--textofuncional-font);
    font-size: 1.15394rem;
    font-style: normal;
    font-weight: var(--textofuncional-peso);
    line-height: normal;
    letter-spacing: 0.05769rem;
    text-transform: uppercase;
    /* text-align: center; */
    margin: 1.12rem 0 1.25rem 0;
    cursor: pointer;
}