.main {
    display: flex;
    align-items: flex-start;
    padding: 5rem 5rem;
}

.main > div {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 50%;
}

.dimension {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.dimension button {
    width: 5rem;
    padding: 0.3rem 1.5rem;
    border-radius: 1.625rem;
    border: 3px solid var(--principal-source);
    color: var(--principal-source, #06C);
    font-family: var(--textofuncional-font);
    font-size: 1rem;
    font-style: normal;
    font-weight: var(--textofuncional-peso);
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    background-color: transparent;
    text-align: center;
}

.dimension button:last-child {
    width: 6.2rem;
}

.dimension button.active {
    width: fit-content;
    border-radius: 1.625rem;
    border: 3px solid var(--principal-source);
    background: var(--principal-source);
    color: var(--fundo, #1E1E1E);
    text-align: center;
    font-family: var(--textofuncional-font);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: var(--textofuncional-peso);
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.sessions {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sessions_box {
    border-radius: 0.5rem;
    background: #141414;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sessions_classification button {
    width: fit-content;
    padding: 0rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    background: var(--calltoAction-400);
    color: #141414;
    text-align: center;
    font-family: var(--textofuncional-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--textofuncional-peso);
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}

.sessions_time {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

 .sessions_time a:hover {
    background: var(--principal-source);
    color: #141414;
}

.sessions_time a{
    width: 6.5625rem;
    padding: 0.5rem 1.25rem;
    border-radius: 0.3125rem;
    border: 3px solid var(--principal-source);
    color: var(--principal-source, #06C);
    text-align: center;
    font-family: var(--textofuncional-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--textofuncional-peso);
    line-height: normal;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    text-decoration: none;
}